* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto';
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.telephone {
  display: block;
  width: 385px;
  height: 680px;
  margin: 0 auto;
  padding: 80px 50px;
  background-image: url("./img/cell-phone.png"), url("./img/levels.png");
  background-repeat: no-repeat;
  background-size: cover, 350px 250px;
  background-position: center, calc(50%) calc(50% - 186px);
}

.telephone__title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.telephone__img {
  margin-bottom: 30px;
}

.box__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.box__img {
  margin-right: 20px;
}

.box__title {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
}

.box__info {
  margin: 0;
  font-weight: 900;
  font-size: 14px;
  color: #675f5f;
}

.box__label {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: auto;
  border: 1px solid #675f5f;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.box__circle {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1.25px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px 0px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.box__input:checked ~ label {
  background-color: #5288F4;
}

.box__input:checked ~ label > .box__circle {
  transform: translateX(30px);
}

.box__input:checked ~ label {
  background-color: #5288F4;
}

.box__input:checked ~ label > .box__circle {
  transform: translateX(30px);
}

/* .box__input:checked ~ div > ul > li > .box__controller {
  
}

.box__input:checked ~ div > ul > li > span > .box__circle {
  transform: translateX(30px);
}

.box__controller {
  transition: all 0.5s ease;
}

.box__list {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;
}

.box__icon {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  margin-left: 10px;
  background-image: url("./img/lock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.box__title {
  margin: 0;
  margin-right: 120px;
  font-weight: 900;
  font-size: 14px;
}

.box__info {
  margin: 0;
  font-weight: 900;
  font-size: 12px;
  color: #675f5f;
}

.box__controller {
  display: inline-block;
  width: 60px;
  height: 30px;
  border: 1px solid #675f5f;
  border-radius: 20px;
}

.box__circle {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1.25px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px 0px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.plane {
  background-image: url("./img/plane.svg");
}

.plane__title {
  margin-right: 71px;
}

.online {
  background-image: url("./img/laptop.svg");
}

.online__title {
  margin-right: 75px;
}

.atm {
  background-image: url("./img/atm.svg");
}

.atm__title {
  margin-right: 72px;
} */